<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 8</b></center>    
<pre>

# User Defined Function

### 01) Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [1]:
def bodymassindex(height, weight):
    return (weight / (height**2))

In [3]:
bodymassindex(1.86,80)

23.12406058503873

### 02) Write a function that add first n numbers.

In [8]:
def add_n(n):
    sum = 0
    for i in range(n+1):
        sum += i
    
    return sum

In [9]:
add_n(10)

55

### 03) Write a function that returns 1 if the given number is Prime or 0 otherwise.

In [12]:
def prime(num):
    count = 0
    for i in range(num):
        if num%1 == 0:
            count += 1
    if count > 2:
        return "not prime"
    else:
        return "prime"

In [14]:
prime(10)

'not prime'

### 04) Write a function that returns the list of Prime numbers between given two numbers.

In [19]:
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list

starting_range = 8
ending_range = 102
lst = prime(starting_range, ending_range)
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101]

### 05) Write a function that returns True if the given string is Palindrome or False otherwise.

In [21]:
def pal(str):
    if str == str[::-1]:
        return "pal"
    else:
        return "not pal"

In [23]:
pal("nadan")

'pal'

### 06) Write a function that returns the sum of all the elements of the list.

In [24]:
def sum_lst(lst):
    sum = 0
    for i in lst:
        sum += i
    return sum

lst = [1,2,3,4,5,6,7,8,9,10]
sum_lst(lst)

55

### 07) Write a function to calculate the sum of the first element of each tuples inside the list.

In [26]:
def sum_first_elements(tuples_list):
    return sum(t[0] for t in tuples_list)


tuples_list = [(3, 2), (5, 4), (7, 6)]
result = sum_first_elements(tuples_list)
print(result)

15

### 08) Write a recursive function to find nth term of Fibonacci Series.

In [34]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)


n = 6
print(f"Fibonacci term at position {n} is: {fibonacci(n)}")

Fibonacci term at position 6 is: 8

### 09) Write a function to get the name of the student based on the given rollno.
#### Example: Given dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'} find name of student whose rollno = 103

In [36]:
dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'}

def lst(key):
    return(dict1[key])

lst(103)

'Jay'

### 10) Write a function to get the sum of the scores ending with zero.
#### Example : scores = [200, 456, 300, 100, 234, 678] 
#### Ans = 200 + 300 + 100 = 600

In [38]:
def sum_scores_ending_with_zero(scores):
    return sum(score for score in scores if score % 10 == 0)

scores = [200, 456, 300, 100, 234, 678,800]
result = sum_scores_ending_with_zero(scores)
print(f"Sum of scores ending with zero: {result}")

Sum of scores ending with zero: 1400

### 11) Write a function to invert a given Dictionary.
#### hint: keys to values & values to keys
#### Before : {'a': 10, 'b':20, 'c':30, 'd':40}
#### After : {10:'a', 20:'b', 30:'c', 40:'d'}

In [40]:
def invert_dict(original_dict):
    return {v: k for k, v in original_dict.items()}

original_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40,40:'d'}
inverted_dict = invert_dict(original_dict)
print(f"Inverted dictionary: {inverted_dict}")

Inverted dictionary: {10: 'a', 20: 'b', 30: 'c', 40: 'd', 'd': 40}

### 12) Write a function to check whether the given string is Pangram or not.
#### hint: Pangram is a string containing all the characters a-z atlest once.
#### "the quick brown fox jumps over the lazy dog" is a Pangram string.

In [42]:
import string

def is_pangram(input_string):
    input_string = input_string.lower()
    alphabet_set = set(string.ascii_lowercase)
    input_set = set(input_string)
    return alphabet_set.issubset(input_set)

input_string = "the quick brown fox jumps over the lazy dog"
result = is_pangram(input_string)
print(f"Is the string a Pangram {result}")

Is the string a Pangram True

### 13) Write a function that returns the number of uppercase and lowercase letters in the given string. 
#### example : Input : s1 = AbcDEfgh ,Ouptput : no_upper = 3, no_lower = 5

In [44]:
def count_upper_lower(s):
    no_upper = sum(1 for c in s if c.isupper())
    no_lower = sum(1 for c in s if c.islower())
    return no_upper, no_lower

s1 = "ABCDEFGHIabcdefghi"
no_upper, no_lower = count_upper_lower(s1)
print(f"no_upper = {no_upper}, no_lower = {no_lower}")

no_upper = 9, no_lower = 9

### 14) Write a lambda function to get smallest number from the given two numbers.

In [46]:
smallest = lambda x, y: x if x < y else y

result = smallest(19.999, 20)
print(result)

19.999

### 15) For the given list of names of students, extract the names having more that 7 characters. Use filter().

In [48]:
students = ["John", "Alexander", "Michael", "Sarah", "Elizabeth", "Tom","Nandan Lalani"]

result = list(filter(lambda x: len(x) > 7, students))
print(result)

['Alexander', 'Elizabeth', 'Nandan Lalani']

### 16) For the given list of names of students, convert the first letter of all the names into uppercase. use map().

In [50]:
students = ["john", "alexander", "michael", "sarah", "elizabeth", "tom", "nandan", "lalani"]

result = list(map(lambda x: x.capitalize(), students))
print(result)

['John', 'Alexander', 'Michael', 'Sarah', 'Elizabeth', 'Tom', 'Nandan', 'Lalani']

### 17) Write udfs to call the functions with following types of arguments:
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Legngth Positional(*args) & variable length Keyword Arguments (**kwargs)
5. Keyword-Only & Positional Only Arguments

In [52]:
def positional_args(arg1, arg2):
    return f"Positional Arguments: {arg1}, {arg2}"

def keyword_args(arg1, arg2=10):
    return f"Keyword Arguments: {arg1}, {arg2}"

def default_args(arg1, arg2="default"):
    return f"Default Arguments: {arg1}, {arg2}"

def var_length_args(*args, **kwargs):
    return f"Variable Length Positional: {args}, Variable Length Keyword: {kwargs}"

def keyword_positional_args(arg1, /, arg2, *, arg3):
    return f"Positional-Only: {arg1}, Keyword-Only: {arg2}, {arg3}"

print(positional_args(1, 2))
print(keyword_args("Hello"))
print(default_args("Test"))
print(var_length_args(1, 2, 3, key1="value1", key2="value2"))
print(keyword_positional_args(1, 2, arg3="KeywordOnly"))

Positional Arguments: 1, 2
Keyword Arguments: Hello, 10
Default Arguments: Test, default
Variable Length Positional: (1, 2, 3), Variable Length Keyword: {'key1': 'value1', 'key2': 'value2'}
Positional-Only: 1, Keyword-Only: 2, KeywordOnly